/* @import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"); */

.app {
  width: 100vw !important;
  height: 100vh !important;
  border: 1px solid lightBlue;
}
svg {
  border: 1px solid lightgray;
}
