@import url(//db.onlinewebfonts.com/c/58045dabdc3a361cb9bb9faf2f1dd1f3?family=Digital-7);
* {
  margin: 0px !important;
  padding: 0px !important;
}

.result {
  padding-top: 0.5rem !important;
  height: 2rem !important;
  font-size: normal !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: black;
  color: gold;
  margin-right: 6px !important;
  font-family: Digital-7 !important;
}

#display {
  padding-top: 0.5rem !important;
  height: 3rem !important;
  font-size: x-large !important;
  font-weight: lighter !important;
  background-color: black;
  color: white;
  margin-right: 6px !important;
  font-family: Digital-7 !important;
}

.main__Buttons {
  padding-right: 5px !important;
}
button {
  font-size: x-large !important;
  width: 84px !important;
  height: 55px !important;
  border-radius: 0px !important;
  border-left: 1px solid lightgray !important;
  border-bottom: 1px solid lightgray !important;
  border-right: 1px solid lightgray !important;
  color: white !important;
}
button:nth-child(1) {
  width: 168px !important;
  background-color: #dc3546 !important;
}

button:nth-child(16) {
  width: 168px !important;
  background-color: #27a844 !important;
  font-size: xx-large !important;
}
button:nth-child(15) {
  position: absolute;
  height: 110px !important;
  font-size: xx-large !important;
}
button:hover {
  color: black !important;
  border-left: 2px solid black !important;
  border-bottom: 2px solid black !important;
  border-right: 2px solid black !important;
}
